
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Plant</title>
    <style>
      canvas { height: 100vh; width: 100vw; display: block; }
    </style>
  </head>
  <body>
    <form><textarea name="editor" rows="4" cols="80"></textarea>
      <input value="Compile" type="button" onClick="compile_program(this.form.editor.value)" /></form>
    <canvas id="c"></canvas>
  </body>
</html>
<script type='text/javascript'>
  // WARNING: globals
  var sz; var vao; var pos_attrib;
</script>
<script src="gl-matrix-min.js"></script>
<script src="draw.js"></script>
<script src="plant.js"></script>
